language: scala

scala:
  - 2.13.9
jdk:
  - openjdk17

# Avoid triggering a duplicate build for PRs
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/

before_install:
  - git fetch --tags

stages:
  - name: test
  - name: release
    if: ((branch = master AND type = push) OR (tag IS present)) AND NOT fork

# https://www.scala-sbt.org/1.x/docs/Travis-CI-with-sbt.html
cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

jobs:
  include:
    # stage="test" if no stage is specified
    - name: ciBuild
      script: sbt ciBuild
    # run ci-release only if previous stages passed
    - stage: release
      script: bash .travis/docker-login.sh && sbt ciRelease
