language: scala

scala:
  - 2.13.11
jdk:
  - openjdk17

# Avoid triggering a duplicate build for PRs
branches:
  only:
    - master

# https://www.scala-sbt.org/1.x/docs/Travis-CI-with-sbt.html
cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

script:
  - sbt ++$TRAVIS_SCALA_VERSION ciBuild
