<configuration>
    <condition class="ch.qos.logback.core.boolex.IsPropertyDefinedCondition">
        <key>KMS_LOGGING_LOGSTASH</key>
    </condition>
    <if>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <logger name="com.sky" level="${KMS_LOGGING_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.apache.kafka.common.metrics" level="OFF" additivity="false" />

    <root level="${KMS_ROOT_LOGGING_LEVEL:-WARN}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
