<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <if condition='isDefined("KMS_LOGGING_LOGSTASH")'>
            <then>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </then>
            <else>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </else>
        </if>
    </appender>

    <logger name="com.sky" level="${KMS_LOGGING_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.kafka.common.metrics" level="OFF" additivity="false"/>
    <logger name="org.apache.kafka" level="WARN" additivity="false"/>
    <logger name="fs2.kafka" level="WARN" additivity="false"/>

    <root level="${KMS_ROOT_LOGGING_LEVEL:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>